# ETL con Spark 
---

## Spark Session

In [2]:
import os
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import FloatType

In [3]:
# Config
spark = (
    SparkSession
    .builder
    .appName("Vlc_social")
    .master("local[*]")
    .config("spark.ui.port", "4040")
    .config("spark.driver.host", "localhost")
    .getOrCreate()
)

spark

## Cleaning datasets

### Dataset "Poblacion_municipal.csv"

In [ ]:
df_poblacion = spark.read.csv(
    "./data_vlc/Poblacion_municipal.csv",
    header=True,
    inferSchema=True,
    sep=";",
    encoding="ISO-8859-1"
)
# drop cols n change name
df_poblacion = df_poblacion.drop("Sexo", "Periodo")
df_poblacion = df_poblacion.withColumnRenamed("Total", "Poblacion_total")
# remove dots from "Poblacion_total" col
df_poblacion = df_poblacion.withColumn("Poblacion_total", F.regexp_replace(F.col("Poblacion_total"), "\\.", ""))
# change string to float
df_poblacion = df_poblacion.withColumn("Poblacion_total", F.col("Poblacion_total").cast(FloatType()))

df_poblacion.show(5)
df_poblacion.printSchema()

+--------------------+---------------+
|          Municipios|Poblacion_total|
+--------------------+---------------+
|        46001 Ademuz|         1015.0|
|          46002 Ador|         1755.0|
|      46004 Agullent|         2438.0|
|46042 Aielo de Ma...|         4624.0|
|46043 Aielo de Rugat|          160.0|
+--------------------+---------------+
only showing top 5 rows

root
 |-- Municipios: string (nullable = true)
 |-- Poblacion_total: float (nullable = true)

### Dataset "Renta_media.csv"

In [120]:
df_renta = spark.read.csv(
    "./data_vlc/Renta_media.csv",
    header=True,
    inferSchema=True,
    sep=";",
    encoding="ISO-8859-1"
)
# drop cols n change name
df_renta = df_renta.withColumnRenamed("Total", "Renta_media")
df_renta = df_renta.drop("Indicadores de renta media y mediana", "Distritos", "Secciones", "Periodo")
# remove dots from "Renta_media" col
df_renta = df_renta.withColumn("Renta_media", F.regexp_replace(F.col("Renta_media"), "\\.", ""))
# change string to float
df_renta = df_renta.withColumn("Renta_media", F.col("Renta_media").cast(FloatType()))

df_renta.show(5)
df_renta.printSchema()

+--------------------+-----------+
|          Municipios|Renta_media|
+--------------------+-----------+
|        46001 Ademuz|    12544.0|
|          46002 Ador|    13447.0|
|46003 Atzeneta d'...|    12812.0|
|      46004 Agullent|    12589.0|
|       46005 Alaquàs|    12930.0|
+--------------------+-----------+
only showing top 5 rows

root
 |-- Municipios: string (nullable = true)
 |-- Renta_media: float (nullable = true)

### Dataset "Paro_por_municipios.csv"

In [122]:
df_paro = spark.read.csv(
    "./data_vlc/Paro_por_municipios.csv",
    header=True,
    inferSchema=True,
    sep=";",
    encoding="ISO-8859-1"
)

# only keep valencia
df_paro = df_paro.filter(df_paro["Comunidad Autónoma"] == "Comunitat Valenciana")
# only from one month
df_paro = df_paro.filter(df_paro["Código mes "] == 202501)
# drop unnecessary info
df_paro = df_paro.drop("Código mes ", "mes", "Código de CA", "Comunidad Autónoma", "Codigo Provincia", "Provincia", " Municipio")
# drop last column with the index (odd name)
df_paro = df_paro.drop(df_paro.columns[-1])

# rename cols to snake case
df_paro = df_paro.withColumnRenamed("Codigo Municipio", "Codigo_municipio") \
    .withColumnRenamed("total Paro Registrado", "Total_paro_registrado") \
    .withColumnRenamed("Paro hombre edad < 25", "Paro_hombre_menor_25") \
    .withColumnRenamed("Paro hombre edad 25 -45 ", "Paro_hombre_25_45") \
    .withColumnRenamed("Paro hombre edad >=45", "Paro_hombre_45+") \
    .withColumnRenamed("Paro mujer edad < 25", "Paro_mujer_menor_25") \
    .withColumnRenamed("Paro mujer edad 25 -45 ", "Paro_mujer_25_45") \
    .withColumnRenamed("Paro mujer edad >=45", "Paro_mujer_45+") \
    .withColumnRenamed("Paro Agricultura", "Paro_agricultura") \
    .withColumnRenamed("Paro Industria", "Paro_industria") \
    .withColumnRenamed("Paro Construcción", "Paro_construccion") \
    .withColumnRenamed("Paro Servicios", "Paro_servicios") 

# change all the "<5" to 3 and make them all float
for col in df_paro.columns:
    df_paro = df_paro.withColumn(
        col,
        F.when(F.trim(F.col(col)) == "<5", 3)  # trim spaces
         .otherwise(F.regexp_replace(F.col(col), "\\.", ""))  # remove dots
         .cast("float")  # cast to float
    )

# leave codigo as an int
df_paro = df_paro.withColumn("Codigo_municipio", F.col("Codigo_municipio").cast("int"))

df_paro.show()
df_paro.printSchema()

+----------------+---------------------+--------------------+-----------------+---------------+-------------------+----------------+--------------+----------------+--------------+-----------------+--------------+
|Codigo_municipio|Total_paro_registrado|Paro_hombre_menor_25|Paro_hombre_25_45|Paro_hombre_45+|Paro_mujer_menor_25|Paro_mujer_25_45|Paro_mujer_45+|Paro_agricultura|Paro_industria|Paro_construccion|Paro_servicios|
+----------------+---------------------+--------------------+-----------------+---------------+-------------------+----------------+--------------+----------------+--------------+-----------------+--------------+
|            3001|                 19.0|                 0.0|              3.0|            5.0|                0.0|             5.0|           5.0|             3.0|           3.0|              3.0|          12.0|
|            3002|                339.0|                11.0|             40.0|           85.0|               10.0|            76.0|         117.0|            37.0|          38.0|             25.0|         222.0|
|            3003|                 29.0|                 3.0|              7.0|            8.0|                3.0|             3.0|           8.0|             3.0|           3.0|              3.0|          24.0|
|            3004|                 60.0|                 3.0|              8.0|           19.0|                3.0|            11.0|          20.0|             0.0|           3.0|              7.0|          47.0|
|            3005|                798.0|                24.0|             86.0|          146.0|               25.0|           173.0|         344.0|            54.0|         137.0|             55.0|         480.0|
|            3006|                 35.0|                 0.0|              3.0|           11.0|                3.0|             6.0|          12.0|             3.0|           3.0|              3.0|          26.0|
|            3007|                 12.0|                 0.0|              3.0|            3.0|                0.0|             3.0|           6.0|             0.0|           3.0|              3.0|           9.0|
|            3008|                  9.0|                 3.0|              3.0|            3.0|                0.0|             3.0|           3.0|             0.0|           3.0|              3.0|           7.0|
|            3009|               4525.0|               117.0|            606.0|         1045.0|              119.0|           942.0|        1696.0|           104.0|         854.0|            310.0|        3062.0|
|            3010|                 17.0|                 0.0|              3.0|            6.0|                0.0|             5.0|           3.0|             0.0|           6.0|              0.0|          11.0|
|            3011|                772.0|                37.0|             96.0|          199.0|               17.0|           131.0|         292.0|             5.0|          23.0|             81.0|         651.0|
|            3012|                146.0|                 3.0|             16.0|           32.0|                3.0|            30.0|          61.0|             3.0|          16.0|             11.0|         102.0|
|            3013|                 96.0|                 3.0|             12.0|           22.0|                3.0|            22.0|          34.0|             3.0|          25.0|              3.0|          50.0|
|            3014|              27256.0|               828.0|           3795.0|         6718.0|              720.0|          5657.0|        9538.0|           481.0|        1306.0|           2289.0|       20266.0|
|            3015|               1651.0|                62.0|            212.0|          363.0|               70.0|           348.0|         596.0|            85.0|         174.0|            178.0|         963.0|
|            3016|                  3.0|                 3.0|              3.0|            3.0|                0.0|             0.0|           3.0|             0.0|           3.0|              3.0|           3.0|
|            3017|                 24.0|                 0.0|              3.0|            3.0|                3.0|             6.0|           9.0|             0.0|           5.0|              3.0|          15.0|
|            3018|               1076.0|                40.0|            137.0|          309.0|               25.0|           170.0|         395.0|            18.0|          39.0|            117.0|         857.0|
|            3019|               1591.0|                46.0|            203.0|          373.0|               44.0|           310.0|         615.0|           151.0|         250.0|            150.0|         936.0|
|            3020|                 11.0|                 0.0|              3.0|            3.0|                0.0|             3.0|           3.0|             0.0|           3.0|              3.0|           8.0|
+----------------+---------------------+--------------------+-----------------+---------------+-------------------+----------------+--------------+----------------+--------------+-----------------+--------------+
only showing top 20 rows

root
 |-- Codigo_municipio: integer (nullable = true)
 |-- Total_paro_registrado: float (nullable = true)
 |-- Paro_hombre_menor_25: float (nullable = true)
 |-- Paro_hombre_25_45: float (nullable = true)
 |-- Paro_hombre_45+: float (nullable = true)
 |-- Paro_mujer_menor_25: float (nullable = true)
 |-- Paro_mujer_25_45: float (nullable = true)
 |-- Paro_mujer_45+: float (nullable = true)
 |-- Paro_agricultura: float (nullable = true)
 |-- Paro_industria: float (nullable = true)
 |-- Paro_construccion: float (nullable = true)
 |-- Paro_servicios: float (nullable = true)

## Joining datasets

In [125]:
# join df_poblacion and df_renta dataframes on "municipio" col 
df_social = df_poblacion.join(df_renta, on=["Municipios"], how="inner")
# separate municipios into "codigo_municipio" and "Municipio"
df_social = df_social.withColumn("Codigo_municipio", F.split(F.col("Municipios"), " ").getItem(0))
df_social = df_social.withColumn("Municipios", F.split(F.col("Municipios"), " ").getItem(1))
# join df_social with df_paro on "codigo_municipio"
df_social = df_social.join(df_paro, on=["Codigo_municipio"], how="inner")
# codigo municipio to int
df_social = df_social.withColumn("Codigo_municipio", F.col("Codigo_municipio").cast("int"))

df_social.show()
df_social.printSchema()

+----------------+-----------------+---------------+-----------+---------------------+--------------------+-----------------+---------------+-------------------+----------------+--------------+----------------+--------------+-----------------+--------------+
|Codigo_municipio|       Municipios|Poblacion_total|Renta_media|Total_paro_registrado|Paro_hombre_menor_25|Paro_hombre_25_45|Paro_hombre_45+|Paro_mujer_menor_25|Paro_mujer_25_45|Paro_mujer_45+|Paro_agricultura|Paro_industria|Paro_construccion|Paro_servicios|
+----------------+-----------------+---------------+-----------+---------------------+--------------------+-----------------+---------------+-------------------+----------------+--------------+----------------+--------------+-----------------+--------------+
|           46001|           Ademuz|         1015.0|    12544.0|                 71.0|                 6.0|              9.0|           20.0|                3.0|            17.0|          15.0|             3.0|           8.0|              8.0|          47.0|
|           46002|             Ador|         1755.0|    13447.0|                 80.0|                 3.0|             10.0|           21.0|                3.0|            16.0|          31.0|             3.0|          11.0|              8.0|          59.0|
|           46003|         Atzeneta|         1193.0|    12812.0|                 70.0|                 3.0|              6.0|           17.0|                3.0|            10.0|          32.0|             0.0|          25.0|              3.0|          40.0|
|           46004|         Agullent|         2438.0|    12589.0|                134.0|                 3.0|             13.0|           30.0|                0.0|            17.0|          72.0|             3.0|          45.0|              3.0|          81.0|
|           46005|          Alaquàs|        30166.0|    12930.0|               2247.0|               102.0|            285.0|          432.0|               77.0|           457.0|         894.0|            23.0|         316.0|            139.0|        1553.0|
|           46006|          Albaida|         6322.0|    12789.0|                384.0|                13.0|             44.0|           77.0|                7.0|            77.0|         166.0|             3.0|         108.0|             15.0|         230.0|
|           46007|            Albal|        17365.0|    13249.0|               1158.0|                53.0|            145.0|          240.0|               32.0|           233.0|         455.0|            21.0|         225.0|             50.0|         801.0|
|           46008|          Albalat|         3523.0|    12616.0|                172.0|                 3.0|             21.0|           37.0|                6.0|            47.0|          57.0|             3.0|          33.0|             11.0|         108.0|
|           46009|          Albalat|         4368.0|    15015.0|                178.0|                 8.0|             24.0|           32.0|                3.0|            44.0|          66.0|             3.0|          25.0|              7.0|         137.0|
|           46010|          Albalat|         1574.0|    15439.0|                 80.0|                 3.0|              5.0|           21.0|                3.0|            18.0|          30.0|             0.0|           9.0|              6.0|          63.0|
|           46011|          Alberic|        11099.0|    12070.0|                580.0|                18.0|             75.0|          103.0|               22.0|           160.0|         202.0|            48.0|          73.0|             41.0|         362.0|
|           46012|        Alborache|         1568.0|    14152.0|                 72.0|                 3.0|              3.0|           15.0|                3.0|            24.0|          23.0|             3.0|           6.0|              3.0|          56.0|
|           46013|Alboraia/Alboraya|        26273.0|    17240.0|               1043.0|                41.0|            137.0|          256.0|               37.0|           164.0|         408.0|             8.0|         146.0|             60.0|         771.0|
|           46014|        Albuixech|         4482.0|    14623.0|                222.0|                 6.0|             35.0|           50.0|                8.0|            44.0|          79.0|             3.0|          32.0|             14.0|         164.0|
|           46015|         Alcàsser|        10772.0|    13616.0|                537.0|                21.0|             68.0|          114.0|               14.0|           133.0|         187.0|            14.0|          76.0|             40.0|         366.0|
|           46016|        Alcàntera|         1468.0|    12234.0|                 58.0|                 3.0|             10.0|           17.0|                3.0|            15.0|          11.0|             5.0|           3.0|              6.0|          41.0|
|           46017|           Alzira|        48236.0|    13445.0|               2890.0|               119.0|            373.0|          566.0|              114.0|           669.0|        1049.0|           120.0|         446.0|            145.0|        1919.0|
|           46018|         Alcublas|          710.0|    12376.0|                 31.0|                 0.0|              3.0|            9.0|                0.0|             5.0|          13.0|             3.0|           3.0|              0.0|          26.0|
|           46019|         Alcúdia,|        12587.0|    13681.0|                496.0|                25.0|             67.0|          106.0|               23.0|           142.0|         133.0|            50.0|          75.0|             25.0|         304.0|
|           46020|          Alcúdia|         5548.0|    12150.0|                345.0|                 9.0|             29.0|           79.0|                8.0|            67.0|         153.0|             8.0|          61.0|             27.0|         238.0|
+----------------+-----------------+---------------+-----------+---------------------+--------------------+-----------------+---------------+-------------------+----------------+--------------+----------------+--------------+-----------------+--------------+
only showing top 20 rows

root
 |-- Codigo_municipio: integer (nullable = true)
 |-- Municipios: string (nullable = true)
 |-- Poblacion_total: float (nullable = true)
 |-- Renta_media: float (nullable = true)
 |-- Total_paro_registrado: float (nullable = true)
 |-- Paro_hombre_menor_25: float (nullable = true)
 |-- Paro_hombre_25_45: float (nullable = true)
 |-- Paro_hombre_45+: float (nullable = true)
 |-- Paro_mujer_menor_25: float (nullable = true)
 |-- Paro_mujer_25_45: float (nullable = true)
 |-- Paro_mujer_45+: float (nullable = true)
 |-- Paro_agricultura: float (nullable = true)
 |-- Paro_industria: float (nullable = true)
 |-- Paro_construccion: float (nullable = true)
 |-- Paro_servicios: float (nullable = true)